{
  "extends": "react-app",
  "rules": {
    "react/prop-types": 1,
    "radix": 0,
    "no-console": 1,
    "semi": 1,
    "eol-last": 1,
    "quotes": [1, "single"],
    "jsx-quotes": [1, "prefer-double"],
    "default-case": 0
  }
}
